input , button , select , option , p ,div {
  font-family: vasir;
}
.dsh-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.dsh-box{
  height: 300px;
  width: 300px;
  margin: 30px;
  background-color: #a8d4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dsh-a-con {

  height: 45px;
  width: 126px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.dsh-box .dsh-a-con a{
  outline: none;
  text-decoration: none;
  color: black;
  font-family: vasir;


}
